* {
  margin: 0;
  padding: 0;
}

/* ********** Navbar ********** */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 2rem;
  background-color: beige;
  color: brown;
}

nav a {
  margin: 0 2rem;
  color: cadetblue;
  text-decoration: none;
}
