* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ********** Navbar ********** */
.navbar {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  background-color: rgba(69, 146, 146, 0.253);
}

.logo {
  display: flex;
  color: rgba(86, 10, 167, 0.909);
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.nav-links {
  display: flex;
  grid-column: 3/4;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(32, 69, 139);
  font-size: 1.2rem;
}

.logo h2 {
  font-size: 2rem;
}

.nav-button {
  display: flex;
  grid-column: 4/5;
  justify-content: right;
  align-items: center;
}

.nav-button button {
  font-size: 15px;
  font-weight: 200;
  background-color: rgb(50, 106, 209);
  width: 100px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}


/* ********** Hero Section ********** */

.info-section {
  height: 15rem;
  background-color: rgba(166, 192, 192, 0.253);
  text-align: center;
  padding: 100px 0;
}

/* ********** Card Section ********** */

.card-section {
  height: 25rem;
  background-color: rgba(110, 171, 171, 0.253);
  display: flex;
  justify-content: space-around;
}

.cards {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(22, 31, 131);
  margin-bottom: 1.5rem;
}

.card-desc {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: cadetblue;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0ff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn:hover {
  color: #fff;
  background-color: #000;
}